@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.container {
  max-width: 1140px;
  margin: auto;
}

/* .react-multi-carousel-dot-list {
  margin-bottom: -20px !important;
  position: relative;
  z-index: 2;
} */

/* .react-multi-carousel-list {
  overflow-y: visible !important;
  
} */

@layer components {
  .footer_link {
    @apply text-gray-600 dark:text-gray-400 text-sm w-fit cursor-pointer hover:text-purple-500 dark:hover:text-pink-300;
  }
}